<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <!--<link rel="stylesheet" type="text/css" href="blackjack_game.css">-->
  <title>Blackjack</title>
  <script>
    
  </script>
  <style type="text/css">
    h1{
    font-family: 'My Boli', sans-serif;
    color: white;
    }
    body{
    background-color: green;
    text-align: center;
    color: white;
    }
    .btn-gradient-radius {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #FF0000 0%, #FF0000 100%);
    transition: .4s;
    }
    
    .btn-gradient-radius:hover {
    background-image: linear-gradient(45deg, #FF0000 0%, #FF0000 100%);
    }
     
    .title{
    text-decoration: none;
    color: white;
    }
    
  </style>
</head>
<body>
  <h1><a href="/blackjack/home" class="title">Blackjack</a></h1><br>
  <input type="button" class="btn-gradient-radius" onClick="location.href='/blackjack/select_bet'" value="一人で遊ぶ">
  <input type="button" class="btn-gradient-radius" onClick="location.href='/blackjack/games/2'" value="二人で遊ぶ">
  <input type="button" class="btn-gradient-radius" onClick="location.href='/blackjack/games/3'" value="三人で遊ぶ">
  <input type="button" class="btn-gradient-radius" onClick="location.href='/blackjack/games/4'" value="四人で遊ぶ">
</body >
</html>